.nav {
  position: relative;
  top: 30px;
  .button {
    margin: 5px;
    padding: 5px;
    background-color: aquamarine;
    border-radius: 10px;
    border: 1px solid #000;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: black;
    transition-duration: 0.3s;
    &:hover {
      padding: 10px;
      transition-duration: 0.3s;
    }
  }
}
